<html>
  <head>
    <title>My Angular App!</title>
  </head>
  <body ng-app="codechallenge" ng-controller="MainCtrl">
    <div>
      {{greeting}}
    </div>
    <form ng-submit="addFile()">
      <input type="file" placeholder="Add File" ng-model="file" id="file-chooser"></input>
      <br>
      <button type="submit">Post</button>
    </form>
  </body>
</html>